
* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  /* color a usar #2daeb5 */
}
.flex {
  display: flex;
}
/* ESTILOS DEL HEADER */
header {
  display: flex;
  flex-direction: column;
  position: sticky;
  background-color: #2daeb5;
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
  width: 100vw;
}
nav {
  align-items: center;
  display: flex;
  flex-direction: column;
  

}
button.icono {
  align-self: flex-end;
  display: block;
  border: none;
  padding: 0px;
  margin: 10px;
  margin-right: 8%;
  background-color: transparent;
}
.icono span{
  display: block;
  background-color: #FFFFFF;
  height: 4px;
  width: 25px;
  margin: 6px auto;
  border-radius: 2px;
}
ul.menu {
  display: none;
}
ul.menu.activado{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
ul li{
  text-decoration: none;
  list-style-type: none;
  margin: 30px;
  color:#F0F0F0;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-size: 20px;
}
ul li:hover{
  cursor: pointer;
  color: #C5C5C5;
}

/* ESTILOS DEL MAIN */
/* Estilos seccion principal */
section.flex.home {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.1);
  padding: 25px 5px;
  margin-bottom: 65px;
}
img.foto_perfil {
  display: flex;
  width: 69vw;
  border-radius: 200px;
  margin-bottom: 20px;
}
h1,
h2,
h3,
h4,
h5,
span,
p {
  margin: 3px;
  font-family: "Inter", sans-serif;
  font-style: normal;
}
p.link{
  font-size: 15px;
}

h1 {
  text-transform: uppercase;
  font-size: 25px;
  font-weight: 300;
}
h2 {
  font-weight: 600;
  font-size: 33px;
  color: #2daeb5;
}
h3 {
  font-weight: 200;
  font-size: 33px;
}
h4 {
  /*Titulos en azul*/
  color: #2daeb5;
  margin-bottom: 20px;
  font-size: 22px;
}
h5 {
  font-weight: 500;
  font-size: 19px;
  margin-bottom: 15px;
}
span.negrita {
  font-weight: 600;
}
p {
  font-size: 18px;
  font-weight: 200;
}
.home {
  background-image: url(../img/background.jpg);
  background-size: cover;
  box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.2);
}
.experience {
  /* Toda la seccion de experiencia laboral */
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 60px;
  box-shadow: 1px 10px 10px -7px rgba(0,0,0,0.15);
}
article.card_exp {
  /* cada una de las tarjetas de exp. */
  width: 90vw;
  margin-bottom: 55px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #fbfbfb;
  padding: 20px;
  box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.1);
}
div.text_conteiner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

article.card_know {
  /* cada una de las tarjetas de exp. */
  width: 90vw;
  margin-bottom: 35px;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: #f5f5f5;
  padding: 20px;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}